html {
  box-sizing: border-box;
}
:root {
  --window: repeating-linear-gradient(-25deg, gray, aliceblue, gray);
  --background: radial-gradient(
    circle at 90% 17%,
    lightgray 5%,
    gray 15%,
    rgba(0, 0, 0, 0.96)
  );
  --owl-feet: orangered;
  --owl-border: rgb(242, 164, 164);
  --feathers: rgb(121, 46, 46);
  --eyes: yellow;
}
@media screen and (min-width: 720px) {
  div.painting {
    max-width: 800px;
    height: 60vh;
    margin: auto;
  }
}
@media screen and (min-width: 360px) and (max-width: 414px) {
  div.painting {
    max-width: 100vw;
    height: 60vh;
  }
}
body {
  background-color: rgba(255, 228, 196, 0.205);
}
div.painting {
  width: 100%;
  height: 60vh;
  background: var(--background);
  position: relative;
}
.painting .background .moon {
  width: 80px;
  height: 80px;
  background-color: aliceblue;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  overflow: hidden;
}
.building1 {
  width: 50px;
  height: 100px;
  background-color: rgb(71, 69, 69);
  position: absolute;
  bottom: 30px;
  left: 100px;
  z-index: 4;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 3px 3px 3px black;
}
.building2 {
  width: 50px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 40px;
  left: 140px;
  z-index: 3;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}
.building1-windows {
  position: absolute;
  top: 20px;
  left: 20px;

  width: 10px;
  height: 10px;
  background: var(--window);
}
.building1-windows .window1 {
  position: absolute;
  top: 20px;
  left: 0;
  width: 10px;
  height: 10px;
  background: var(--window);
}
.building1-windows .window2 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 10px;
  height: 10px;
  background: var(--window);
}
.building1-windows .window3 {
  position: absolute;
  top: 60px;
  left: 0;
  width: 10px;
  height: 10px;
  background: var(--window);
}
.building2 .building2-windows {
  background: var(--window);
  width: 20px;
  height: 30px;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  position: absolute;
  top: 20px;
  left: 15px;
  border: 1px solid greenyellow;
}
hr {
  position: absolute;
  top: 45px;
  width: 48px;
  background-color: gray;
  border-end-end-radius: 50%;
}
.owl-head {
  width: 70px;
  height: 70px;
  background-color: var(--feathers);
  position: absolute;
  top: 95px;
  left: 250px;
  border-radius: 40%;
  border: 1px solid gray;
  z-index: 3;
  box-shadow: 3px 3px 4px;
}
.owl-eye-left {
  width: 25px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--eyes);
  position: absolute;
  top: 15px;
  left: 5px;
  border: 2px solid black;
}
.iris {
  width: 12px;
  height: 15px;
  background-color: black;
  border-radius: 40%;
  position: absolute;
  top: 10px;
  left: 7px;
}
.owl-eye-right {
  width: 25px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--eyes);
  position: absolute;
  top: 15px;
  right: 5px;
  border: 2px solid black;
}
.iris .highlight {
  width: 5px;
  height: 5px;
  background: linear-gradient(-30deg, gray 5%, aliceblue 30%, gray);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}
.beak {
  width: 7px;
  height: 20px;
  background: linear-gradient(to right, black, gray, black);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 80%;
  position: absolute;
  top: 45px;
  right: 35px;
  transform: rotate(10deg);
  box-shadow: 2px 2px 3px;
}
.owl-body {
  height: 100px;
  width: 90px;
  background: var(--feathers);
  position: absolute;
  bottom: 15px;
  left: 275px;
  transform: skewY(10deg) rotate(-20deg);
  border-top-left-radius: 15%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 20%;
  border-left: 1px solid gray;
  border-right: 3px solid var(--owl-border);
  z-index: 2;
  box-shadow: 3px 3px 4px;
}

.wing-left {
  width: 80px;
  height: 105px;
  position: absolute;
  bottom: 22px;
  left: 295px;
  background-color: var(--feathers);
  border: 1px solid var(--owl-border);
  border-top-left-radius: 20%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 20%;
  transform: rotate(-20deg) skewX(7deg);
  z-index: 3;
  box-shadow: 3px 3px 4px;
}
.wing-right {
  width: 80px;
  height: 95px;
  position: absolute;
  bottom: 20px;
  left: 250px;
  background-color: var(--feathers);
  border: 1px solid var(--owl-border);
  border-top-left-radius: 20%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 20%;
  z-index: 0;
  box-shadow: 3px 3px 4px;
}
.owl-foot.left {
  background-color: var(--owl-feet);
  width: 10px;
  height: 15px;
  position: absolute;
  bottom: 5px;
  left: 315px;
  transform: rotate(-130deg);
  border-top-left-radius: 90%;
  border-top-right-radius: 40%;
}
.owl-foot.right {
  background-color: var(--owl-feet);
  width: 10px;
  height: 15px;
  position: absolute;
  bottom: 5px;
  left: 340px;
  transform: rotate(-130deg);
  border-top-left-radius: 90%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 20%;
}
